
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: white;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: white;
}
.tabs ul.primary li a.active {
  background-color: white;
}
.tabs ul.primary li.active a {
  background-color: white;
  border-bottom: 1px solid white;
}
#header {
  background-color: DodgerBlue;
  background-image: -moz-linear-gradient(top, gray 0%, DodgerBlue 100%);
  background-image: -ms-linear-gradient(top, gray 0%, DodgerBlue 100%);
  background-image: -o-linear-gradient(top, gray 0%, DodgerBlue 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, gray), color-stop(1, DodgerBlue));
  background-image: -webkit-linear-gradient(top, gray 0%, DodgerBlue 100%);
  background-image: linear-gradient(top, gray 0%, DodgerBlue 100%);
}
a {
  color: RoyalBlue;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: LightGray;
  border-color: AliceBlue;
}
#page-wrapper,
#footer-wrapper {
  background: DimGrey;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: Azure;
}
